<div class="container bg-light p-4">
  <div class="row">
    <div class="col-7 m-auto">
      <h1 class="text-center">Cadastro de Alunos</h1>
      <form [formGroup]="studentFormGroup">
        <div class="mb-3">
          <label for="matricula" class="form-label">Matricula:</label>
          <input type="text"
          class="form-control"
          id="matricula"
          formControlName="id" />
        </div>
        <div class="mb-3">
          <label for="nome" class="form-label">Nome:</label>
          <input type="text" class="form-control" id="nome" formControlName="name" />
        </div>
        <div class="mb-3">
          <label for="curso" class="form-label">Curso:</label>
          <input type="text" class="form-control" id="curso" formControlName="course"/>
        </div>
        <button class="btn btn-primary" (click)="save()">Salvar</button>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Matricula</th>
            <th scope="col">Nome</th>
            <th scope="col">Curso</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
